<div class="body">
    <h1>Home</h1>

    <div class="wrapper">
        <div class="left">
            <button mat-flat-button class="button explorer" routerLink="/explorer">
                <mat-icon>description</mat-icon>
                Explorer
            </button>

            <button mat-flat-button class="button parser" routerLink="/parser">
                <mat-icon>code</mat-icon>
                Parser
            </button>
        </div>

        <div class="right">
            <button mat-flat-button class="button list-downloader" routerLink="/list-downloader">
                <mat-icon>browser_updated</mat-icon>
                List Downloader
            </button>
        </div>
    </div>
</div>
