<div class="body">
    <ng-template #loading>
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </ng-template>

    <div *ngIf="{
            country: country$ | async
        } as data; else loading;">
        <h1>
            <button mat-icon-button [routerLink]="['/explorer']">
                <mat-icon>arrow_back</mat-icon>
            </button>
            Country
            <i *ngIf="data.country">
                {{ data.country.name }}
            </i>
        </h1>

        <div class="info">
            <table>
                <tr>
                    <td>
                        Country:
                    </td>
                    <td *ngIf="data.country">
                        {{ data.country.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Communities:
                    </td>
                    <td *ngIf="data.country">
                        {{ data.country.community_count }}
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        Country Id:
                    </td>
                    <td *ngIf="data.country">
                        {{ data.country.id }}
                    </td>
                    <td>
                        <button mat-icon-button disabled [routerLink]="['/explorer', data.country.id]" *ngIf="data.country">
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <app-diocese-list [country]="data.country" *ngIf="data.country"></app-diocese-list>
    </div>
</div>
