<div class="body">
    <h3>Parser Job erstellen</h3>

    <div class="wrapper">
        <mat-form-field appearance="outline">
            <mat-label>Country Regex</mat-label>
            <input matInput placeholder=".*" [(ngModel)]="parserJob.country_regex">
            <mat-icon matSuffix>public</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Diocese Regex</mat-label>
            <input matInput placeholder=".*" [(ngModel)]="parserJob.diocese_regex">
            <mat-icon matSuffix>public</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Community Regex</mat-label>
            <input matInput placeholder=".*" [(ngModel)]="parserJob.community_regex">
            <mat-icon matSuffix>public</mat-icon>
        </mat-form-field>

        <mat-checkbox color="primary" [(ngModel)]="parserJob.page_skip">Seiten überspringen</mat-checkbox>

        <button mat-stroked-button (click)="createParserJob()">
            <mat-icon>add</mat-icon>
            Erstellen
        </button>
    </div>
</div>
